<div class="page">
  <div class="login-form">
    <h2>Resend unlock instructions</h2>

    <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>

        <p><%= f.label :email %><br/>
          <%= f.text_field :email %></p>

        <p><%= f.submit "Resend unlock instructions" %></p>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
  </div>
  <div class="login-slogan">
    <%= render :partial => 'layouts/login_slogan' %>
  </div>
</div>