<h1>Listing statics</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @statics.each do |static| %>
  <tr>
    <td><%= static.title %></td>
    <td><%= static.content_text %></td>
    <td><%= link_to t('actions.show'), static %></td>
    <td><%= link_to t('actions.edit'), edit_static_path(static) %></td>
    <td><%= link_to t('actions.destroy'), static, :confirm => t('actions.are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Static', new_static_path %>
