<% @title = @product.name %>

<% title(@product.name) %>

<%= bread_crumbs %>

<% if @product.product_images.size > 0 %>
    <a href='<%= @product.product_images.first.image.url(:zoom) %>' class='cloud-zoom' id='zoom1'
       rel="position: 'inside', showTitle: false, adjustX:-4, adjustY:-4">
      <img src="<%= @product.product_images.first.image.url(:gallery) %>" alt='' title="Optional title display"/>
    </a>

    <div class="prevs">
      <% @product.product_images.each do |paper_image| %>
          <a href='<%= paper_image.image.url(:zoom) %>' class='cloud-zoom-gallery' title='Thumbnail 1'
             rel="useZoom: 'zoom1', smallImage: '<%= paper_image.image.url(:gallery) %>' ">
            <img src="<%= paper_image.image.url(:preview) %>" alt="Thumbnail 1"/></a>
      <% end %>
    </div>
<% end %>

<%= render :partial => 'layouts/share' %>
<div class="product-order">
  <%= button_to "ЗАКАЗАТЬ", add_to_cart_path(:id => @product.id), :remote => true %>
</div>

<div class="clear"></div>

<p>
  <b><%= t('activerecord.attributes.product.description') %>:</b>
  <%= @product.description %>
</p>

<p>
  <b><%= t('activerecord.attributes.product.price') %>:</b>
  <%= product_price(@product.price) %>
</p>

<%= render "layouts/fb_comments" %>

<% if signed_in? %>
    <%= link_to t('actions.edit'), edit_category_sub_category_product_path(@category, @sub_category, @product) %> |
<% end %>
<%= link_to t('actions.back'), category_sub_category_products_path(@category, @sub_category) %>